
    <button>
        <a href="./index.html#" class="footer__bottom"> <img src="./assets/images/ico-arrow.svg" alt="flecha hacia arriba">
          <!-- hay que enlazarlo con el inicio de la página -->
        </a>
      </button>
  
      <nav>
        <ul>
          <li class="footer-menu-items">Articles</li>
          <li class="footer-menu-items">Books</li>
          <li class="footer-menu-items">Events</li>
          <li class="footer-menu-items">Reasons</li>
          <li class="footer-menu-items">Tips</li>
        </ul>
      </nav>
      <div class="social-menu">
        <ul class="social-menu-item">
          <li class="social-menu-items">Twitter</li>
          <li class="social-menu-items">Instagram</li>
          <li class="social-menu-items">Mastodon.social</li>
        </ul>
      </div>
  
      <div class="copy">
        <span class="copy-year">&copy; 2020 </span>
        <span class="copy-we">we
          <img class="copy-icon-heart" src="./assets/images/" alt="icono de un corazón"></span>
          <span class="copy-components">components</span>
          <!-- falta poner icono corazon -->
      </div>