<section class="sectionreasons">
    <h2 class="sectionreasons__title">3 Reasons To Purchase</h2>

     <include src="./articles.html"
     reasonstitle="Ut sed metus"
     reasonsdescription="Lorem ipsum dolor sit amet, consecteur."
     >
     </include>

     <include src="./articles.html"
     reasonstitle="Curabitur ac erat"
     reasonsdescription="Mauris mattis urna quis lorem molestie."
     >
     </include>
     <include src="./articles.html"
     reasonstitle="Morbi dictum"
     reasonsdescription="Aliquam in dolor et dolor tincidunt."
     >
     </include>
    </include>

     <div class="reasonsbottom">
       <a href="#" class="reasonsbottom__link">More reasons</a>
       </div>
   </section>
