<section class="sectionreasons">
    <h2 class="sectionreasons__title">3 Reasons To Purchase</h2>

     <article class="sectionreasons__block">
       <h3 class="sectionreasons__h3">Ut sed metus</h3>
       <p class="sectionreasons__descp">Lorem ipsum dolor sit amet, consecteur.</p>
     </article>

     <article class="sectionreasons__block">
       <h3 class="sectionreasons__h3">Curabitur ac erat</h3>
       <p class="sectionreasons__descp">Mauris mattis urna quis lorem molestie.</p>
     </article>

     <article class="sectionreasons__block">
       <h3 class="sectionreasons__h3">Morbi dictum</h3>
       <p class="sectionreasons__descp">Aliquam in dolor et dolor tincidunt.</p>
     </article>
     <div class="sectionreasons">
       <a href="#" class="sectionreasons__bottom">More reasons</a>
       </div>
   </section>
