.footer{
    background-color: $color-black;
    color: $color-white;
}
.footer-menu-enlace{
    text-decoration: none;
}
.footer-menu-items{
    color: $color-white;
}


.sectionfooter{
    text-align: center;
    line-height: 1.88;
    font-family:$font-family-main ;
}

.footer-menu{
    padding: 65px 120px 30px 120px ;
    text-transform: uppercase;
}
.social-menu{
    padding: 0px 87px 32px 87px ;
    text-transform: uppercase;
}
.copy{
    font-size: 14px;
    padding-bottom: 36px;
}
// media queries

.sectionfooter{
    @media all and (min-width: 768px) {
        display: flex;
        flex-direction:row-reverse;
        justify-content: center;
        text-align:left;
        
        
 }
    @media all and (min-width: 1200px) {
      align-items: center;
      justify-content: center;
      background-color: rgb(51, 74, 74);
      
        
    }
}



.footermenuandsocial{
    @media all and (min-width: 768px) {
       display: flex;
       align-items: baseline;
       justify-content: space-around;
       width: 400px;
       
    
 }
}
.footer-menu,
.social-menu{
    @media all and (min-width: 768px) {
        padding: 0px;
        

  }
}

.footer-menuitem{
    @media all and (min-width: 768px) {
        text-align: none;

  }
}




//  puedo utilizar position cuando ya no pueda utilizar mas flex?
// si lo utilizo tendré que meter menu social y menu footer en una seccion y dejar fuera copy

// .sectionfooter {
//     @media all and (min-width: 768px) {
//         display: flex;
//         justify-content: space-around;
//         background-color: rgb(97, 84, 68);
//         width: 450px;
//         margin-left: 300px;
    
//     }

// }
// .footer-menu, .social-menu {
//     @media all and (min-width: 768px) {
//         padding: 0px;
        
//     }

// }
// .copy{
//     @media all and (min-width: 768px) {
//         position: relative;
//         bottom: 80px;
        
//     }
// }