.sectionreasons {
    background-color:$color-lightblue;
    display: grid;
    grid-template-rows: 40px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:44px;
    
      &__title{
        font-family:$font-family-title;
        font-weight: bold;
        font-size: 24px;
        grid-column: 1/4;
        text-align: center;
        // padding-top: 30px;
        
  }
}

.sectionreasons__block{
 
      &--h3{
        font-family:$font-family-title;
        font-size: 18px;
        background-color: aqua;
          &--descp{
            font-family: $font-family-main;
            font-size: 18px;
            font-weight: 500;// no hay que font-weight?? hay que buscar su fuente;
           
            
    }
  }
}


.sectionreasons__blockbox1{
  background-color: bisque;
  grid-row: 2/3;
  grid-column: 2/3;
  width: 180px;
  height: 100px;

}
.sectionreasons__blockbox2{
  background-color: rgb(46, 188, 188);
  grid-row: 3/4;
  grid-column: 2/3;
  width: 180px;
  height: 100px;

}
.sectionreasons__blockbox3{
  background-color: rgb(3, 95, 95);
  grid-row: 4/5;
  grid-column: 2/3;
  width: 180px;
  height: 100px;

}





.reasonsbottom  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 60px;
  background-color:$color-lightblue ;
      &__container{
        background-color:$color-orange;
        width: 184px;
        height: 45px;// probar con rem 
        color: $color-orange;
        border: solid 2px $color-orange;
        border-radius: 26px ;
        line-height: 45px;
        text-align: center;
        padding: 5px;
        font-size: 20px;
        
         &--link{
            color: $color-white;
            text-decoration: none;
            font-family: $font-family-main;
    }
  }
}
.reasonsbottom__container:hover {
  transform: scale(1.2);

  // seguir probando transform y el bonus
}




// En el hover de los botones ("Go" y "3 Reasons To Purchase") se debe incluir una transform que
// dejamos a vuestra elección (BONUS-> hacer la transform con transition, investigar la propiedad
// transition)


// media queries
.reasonsbottom__container{
  @media all and (min-width: 1200px) {
    width: 210px;
    height: 45px;
}

    @media all and (min-width: 1200px) {
      width: 255px;
      height: 45px;
 }
}
.sectionreasons{
  @media all and (min-width: 768px) {
    display: grid;
    grid-gap: 0px;
}

}
.sectionreasons__block{
  @media all and (min-width: 768px) {
 
    

  }
}