.sectionreasons {
    background-color:$color-lightblue;
    display: grid;
    grid-template-rows: 96px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 44px;
    
      &__title{
        font-family:$font-family-main;// cuidado con esta fuente no la está cogiendo debe ser. robotoslab
        font-weight: bold;
        font-size: 24px;
        grid-column: 1 / 4;

     
  }
}

.sectionreasons__block{
  background-color: aquamarine;
  width: 180px;
  height: 83px;
  grid-column: 2/ 3;


  
      &--h3{
        font-family:$font-family-main;// cuidado con esta fuente no la está cogiendo debe ser. robotoslab
        font-weight: bold;
        font-size: 18px;
          &--descp{
            font-family: $font-family-main;
            font-size: 18px;
            font-weight: 500;// no hay que font-weight?? hay que buscar su fuente;
            
    }
  }
}
.reasonsbottom  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 60px;
  background-color:$color-lightblue ;
      &__container{
        background-color:$color-orange;
        width: 184px;
        height: 45px;// probar con rem 
        
         &--link{
            background-color: aqua;
            text-decoration: none;
    }
  }
}




// En el hover de los botones ("Go" y "3 Reasons To Purchase") se debe incluir una transform que
// dejamos a vuestra elección (BONUS-> hacer la transform con transition, investigar la propiedad
// transition)


// media queries
.reasonsbottom__container{
    @media all and (min-width: 1200px) {
      width: 255px;
      height: 45px;
 }
}
.sectionreasons{
  @media all and (min-width: 768px) {
    display: grid;
    grid-gap: 0px;
}

}
.sectionreasons__block{
  @media all and (min-width: 768px) {
  grid-column:1/4 ;
  grid-row: 2/4;
    

  }
}